* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    color: #ddc5cd;
}

a {
    color: #7b87b6;
}

a:hover {
    color: white;
}

.linediv {
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
}

input {
    border: 5px solid white;
    outline: none;
    padding: 7px;
    color: #393f56;
    border-radius: 10px;
    font-family: "Quicksand", sans-serif;
    width: 250px;
}

textarea {
    color: #393f56;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

body {
    background-color: #171e29;
}

.welcome-head {
    text-align: center;
    padding: 10px;
}

.registerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.registerForm * {
    margin: 5px;
}

.welcome-foot {
    text-align: center;
}
.nav {
    display: flex;
    justify-content: space-between;
}

.nav h5 {
    display: flex;
    align-items: center;
}

.profilePic {
    cursor: pointer;
}

.profile-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    z-index: 9;
}

.uploadModal {
    width: 400px;
    height: 300px;
    background-color: rgba(63, 59, 59, 1);
    display: flex;
    align-self: center;
    position: fixed;
    flex-direction: column;
    border-radius: 10px;
    top: 150px;
    z-index: 10;
}

.uploadModal p {
    align-self: flex-start;
    padding: 10px;
}
.uploadModal h1 {
    align-self: center;
    padding: 20px;
    margin: 10px;
}
.updatePic {
    align-self: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.closeBtn {
    color: rgb(255, 66, 66);
    cursor: pointer;
}

.profileBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.profileBody * {
    padding: 10px;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileInfo * {
    text-align: center;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.other-user-body {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.other-users h3 {
    padding: 10px;
}

.imageBox {
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: contain;
}
.imageBoxSmall {
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
    border: solid 1px black;
}

.editBtn {
    text-decoration: underline;
    cursor: pointer;
}

.reqBtn {
    align-self: center;
    margin: 20px;
    font-size: 8pt;
    width: max-content;
    padding-left: 5px;
    padding-right: 5px;
}

.other-users {
    display: flex;
    padding: 10px;
}

.friends-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.friends-info {
    display: flex;
}

.friend-response {
    cursor: pointer;
    margin: 10px;
    width: max-content;
}

.friend-response:hover {
    color: #ffffff;
}
.req-info {
    display: flex;
}
.req-text {
    display: flex;
    flex-direction: column;
}

.chat-container {
    height: 300px;
    width: 90%;
    overflow-y: scroll;
}

.chatInfo {
    display: flex;
}
