* {
    margin: 0;
    box-sizing: border-box;
}

input {
    outline: none;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

body {
    background-color: grey;
}

.welcome-head {
    text-align: center;
    padding: 10px;
}

.registerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.registerForm * {
    margin: 5px;
}

.welcome-foot {
    text-align: center;
}
.profile-page {
}

.uploadModal {
    width: 400px;
    height: 400px;
    background-color: rgba(63, 59, 59, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1px;
    left: 30%;
    right: 70%;
}

.closeBtn {
    color: red;
    cursor: pointer;
}
