* {
    margin: 0;
    box-sizing: border-box;
}

.linediv {
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.line {
    border: solid black 1px;
    width: 90%;
    height: 1px;
    position: relative;
    top: 40%;
}

input {
    outline: none;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

body {
    background-color: grey;
}

.welcome-head {
    text-align: center;
    padding: 10px;
}

.registerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.registerForm * {
    margin: 5px;
}

.welcome-foot {
    text-align: center;
}
.nav {
    display: flex;
    justify-content: space-between;
}

.nav h2 {
    display: flex;
    align-items: center;
}

.profilePic {
    cursor: pointer;
}

.profile-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    z-index: 9;
}

.uploadModal {
    width: 400px;
    height: 300px;
    background-color: rgba(63, 59, 59, 1);
    display: flex;
    align-self: center;
    position: fixed;
    flex-direction: column;
    border-radius: 10px;
    top: 150px;
    z-index: 10;
}

.uploadModal p {
    align-self: flex-start;
    padding: 10px;
}
.uploadModal h1 {
    align-self: center;
    padding: 20px;
    margin: 10px;
}
.updatePic {
    align-self: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.closeBtn {
    color: red;
    cursor: pointer;
}

.profileBody {
    display: flex;
}

.editBtn {
    text-decoration: underline;
    cursor: pointer;
}

.other-users {
    display: flex;
    padding: 10px;
}
